[Desktop Entry]
Name=MultiDesk
GenericName=Remote Desktop
Comment=MultiDesk Remote Desktop
Exec=multidesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;multidesk;
Actions=new-window;
StartupWMClass=multidesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=multidesk %u
