[Desktop Entry]
Name=MultiDesk
NoDisplay=true
MimeType=x-scheme-handler/multidesk;x-scheme-handler/rustdesk;
TryExec=multidesk
Exec=multidesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=multidesk
