# Copy to netmaker.env before first start: cp netmaker.env.example netmaker.env
NM_EMAIL=admin@multisaas.co.za
NM_DOMAIN=vpn.multisaas.co.za
SERVER_HOST=102.207.62.194
SERVER_HOST6=
MASTER_KEY=change-me-generate-with-openssl-rand-hex-16
MQ_USERNAME=netmaker
MQ_PASSWORD=change-me-generate-with-openssl-rand-hex-16
INSTALL_TYPE=ce
SERVER_IMAGE_TAG=v1.6.0
UI_IMAGE_TAG=v1.6.0
METRICS_EXPORTER=off
DNS_MODE=on
NETCLIENT_AUTO_UPDATE=enabled
API_PORT=8081
CORS_ALLOWED_ORIGIN=*
DISPLAY_KEYS=on
DATABASE=sqlite
SERVER_BROKER_ENDPOINT=ws://mq:1883
VERBOSITY=1
DEBUG_MODE=off
REST_BACKEND=on
DISABLE_REMOTE_IP_CHECK=off
TELEMETRY=on
FRONTEND_URL=https://dashboard.vpn.multisaas.co.za
JWT_VALIDITY_DURATION=43200
RAC_RESTRICT_TO_SINGLE_NETWORK=false
CACHING_ENABLED=true
ENDPOINT_DETECTION=true
MANAGE_DNS=true
OLD_ACL_SUPPORT=true
STUN=true
METRICS_PORT=51821
PUBLISH_METRIC_INTERVAL=15
NODE_ID=netmaker-server-1
HOST_NAME=multisaas-vpn
